.ant-layout-content .site-layout {
  padding: 0 50px;
  margin-top: 20px;
}

.ant-page-header {
  background-color: #131921;
}

.ant-page-header-heading{
  display: flex;
  justify-content: left;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.login{
  padding: 3px 30px;
  font-weight: bold;
  background-color: #b700ff ;
  border-color: #fff;
  border: solid 2px #b700ff;
  color: white;
}

.login:hover{
  background-color: #aa00ff;
  border: solid 2px white;
  color: white;
}

.login:focus{
  background-color: #b700ff;
  border: solid 2px white;
  color: white;
}
.product-btn {
  background-color: #b700ff;
  color: #fff;
  width: 250px;
  padding: 10px;
  margin: 10px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 20px;
}
.product-btn:hover{
  background-color: #aa00ff;
  border: solid 2px white;
  color: white;
}

.product-btn:focus{
  background-color: #b700ff;
  border: solid 2px white;
  color: white;
}